div.nav {
  -ms-grid-columns: (minmax(200px, 1fr)) [auto-fill] 10px;
  grid-gap: 16px;
  margin-top: 90px;
}

@media only screen and (min-width: 700px) {
  div.nav {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) 10px;
  }
}

div.nav > *:first-of-type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

div.product-list {
  grid-column: 2 / -2;
  padding: 20px;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(250px, 3fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
  -ms-grid-rows: (minmax(100px, auto)) [5];
  grid-template-rows: repeat(5, minmax(100px, auto));
  border-radius: 3px;
}

.tapas-equipment {
  padding: 60px;
  width: 70vw;
}

.tapas-equipment li {
  display: flex;
  align-items: center;
}

.tapas-equipment li div:first-child {
  margin-right: 10px;
}
.tapas-equipment li div:last-child {
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  div.nav > *:first-of-type {
    grid-column: 1/-2;
    min-width: 100%;
  }
  div.nav > *:last-of-type {
    grid-column: 1 / -2;
  }
  div.grid.product-list > * {
    -ms-grid-columns: (minmax(1fr, 3fr)) [auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(1fr, 3fr));
    margin: 0 auto;
  }
}
