body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
  width: 100vw;
}

div.grid {
  display: -ms-grid;
  display: grid;
}

div.active.item {
  border-bottom-color: #ffc400 !important;
}